colorama>=0.4
black>=24.3 ; extra == "dev"
isort>=5.13 ; extra == "dev"
pyqt6>=6.7 ; extra == "gui"
pytest>=8.0
tcms-api>=0.4.0
git+https://github.com/kiwitcms/pytest-plugin.git@main#egg=pytest-plugin
PyQt6~=6.9.0
Flask~=3.1.0